In [4]:
import pandas as pd
import plotly as px

In [5]:
df = pd.read_csv("trash_data.csv")
df.columns

Index(['container_id', 'receptacle_model_id', 'assignment_date',
       'last_updated_date', 'group_name', 'address', 'city', 'state', 'zip',
       'neighborhood', 'dpw_division', 'council_district', 'ward', 'fire_zone',
       'x', 'y'],
      dtype='object')

In [6]:
df_neighborhoods = df.groupby(["neighborhood"])["neighborhood"].count()
df_neighborhoods = df_neighborhoods.to_frame()
df_neighborhoods = df_neighborhoods.rename(columns={"neighborhood":"count"})
df_neighborhoods

                     count
neighborhood
Allegheny Center         7
Allegheny West          15
Allentown                9
Arlington                3
Banksville               2
...                    ...
Upper Lawrenceville     15
West End                 7
West Oakland             7
Westwood                 5
Windgap                  1

[79 rows x 1 columns]

In [7]:
df_neighborhoods.sort_values(by="count", ascending=False, inplace=True)
df_neighborhoods

                  count
neighborhood
Shadyside            76
East Liberty         62
Bloomfield           58
North Shore          53
South Side Flats     53
...                 ...
Oakwood               1
East Carnegie         1
South Shore           1
Mt. Oliver            1
Windgap               1

[79 rows x 1 columns]

In [8]:
df_top_10 = df_neighborhoods.head(10)
df_top_10

                     count
neighborhood
Shadyside               76
East Liberty            62
Bloomfield              58
North Shore             53
South Side Flats        53
Squirrel Hill South     51
Strip District          41
Carrick                 36
Central Oakland         32
Lower Lawrenceville     30

In [9]:
df_top_10.plot.bar(rot=-30)

In [11]:
import pandas_profiling as pp
profile = pp.ProfileReport(df)
profile.to_file("trash_profile.html")

Summarize dataset:  97%|█████████▋| 65/67 [00:15<00:01,  1.82it/s, Get alerts]                                /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas_profiling/model/correlations.py:120: RuntimeWarning: invalid value encountered in greater_equal
  bool_index = abs(correlation_matrix.values) >= threshold
Summarize dataset: 100%|██████████| 67/67 [00:15<00:00,  4.31it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:05<00:00,  5.77s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.99s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 90.24it/s]